<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <wegetfinancing_payment>
                <model>WeGetFinancingCheckoutFacade</model>
                <title>WeGetFinancing Checkout</title>
                <active>0</active>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <paymentInfoKeys>card_type,exp_date</paymentInfoKeys>
                <sdk_url>https://cdn.wegetfinancing.com/libs/1.0/getfinancing.js</sdk_url>
                <payment_card_src>https://raw.githubusercontent.com/activemerchant/payment_icons/f55bff0716998fbe425bcb246a560f6bedce9f4f/app/assets/images/payment_icons/wegetfinancing.svg</payment_card_src>
                <merchant_source_id>Merchant Defined Source ID</merchant_source_id>
                <button_action_title>Pay</button_action_title>
                <is_collect_shipping>1</is_collect_shipping>
                <display_name>WeGetFinancing</display_name>
                <wegetfinancing_version>1.9</wegetfinancing_version>
                <wegetfinancing_url_sandbox>https://api.sandbox.wegetfinancing.com</wegetfinancing_url_sandbox>
                <wegetfinancing_url>https://api.wegetfinancing.com</wegetfinancing_url>
                <wegetfinancing_ordertoinvid_url></wegetfinancing_ordertoinvid_url>
                <wegetfinancing_postback_url>V1/wegetfinancing/update-postback-url</wegetfinancing_postback_url>

                <!-- Configurable section: -->

                <!-- is_wegetfinancing_sandbox: set to 1 to use sandbox or 0 to use production -->
                <is_wegetfinancing_sandbox>1</is_wegetfinancing_sandbox>

                <!-- wegetfinancing_username: insert your wegetfinancing username -->
                <wegetfinancing_username/>

                <!-- wegetfinancing_password: insert your wegetfinancing password -->
                <wegetfinancing_password/>

                <!-- wegetfinancing_merchant_id: insert your wegetfinancing merchant id -->
                <wegetfinancing_merchant_id/>

                <!-- Configurable section: -->
            </wegetfinancing_payment>
        </payment>
    </default>
</config>
