<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <wegetfinancing_payment>
                <title>WeGetFinancing Checkout</title>

                <!-- Configurable section: -->
                <active>0</active>
                <is_sandbox>1</is_sandbox>
                <username/>
                <password/>
                <merchant_id/>
                <!-- /Configurable section: -->

                <model>WeGetFinancingCheckoutFacade</model>
                <can_initialize>1</can_initialize>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <is_collect_shipping>1</is_collect_shipping>
                <button_action_title>Pay</button_action_title>
                <display_name>WeGetFinancing</display_name>
                <api_version>1.9</api_version>
                <api_magento_rest_path>rest/V1</api_magento_rest_path>
                <sdk_url>https://cdn.wegetfinancing.com/libs/1.0/getfinancing.js</sdk_url>
                <payment_icon_url>https://wiki.dev.wegetfinancing.com/public/brand/resources/buttons/logoCircular.svg</payment_icon_url>
                <cart_guest_path>/guest-carts/mine/wegetfinancing-generate-funnel-url</cart_guest_path>
                <cart_path>/carts/mine/wegetfinancing-generate-funnel-url</cart_path>
                <postback_path>/wegetfinancing/update-postback</postback_path>
            </wegetfinancing_payment>
        </payment>
    </default>
</config>
