<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <wegetfinancing_payment>
                <title>WeGetFinancing Checkout</title>
                <!-- Configurable section: -->
                <active>0</active>
                <is_sandbox>1</is_sandbox>
                <username/>
                <password/>
                <merchant_id/>
                <!-- Configurable section: -->
                <model>WeGetFinancingCheckoutFacade</model>
                <can_initialize>1</can_initialize>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <is_collect_shipping>1</is_collect_shipping>
                <button_action_title>Pay</button_action_title>
                <display_name>WeGetFinancing</display_name>
                <api_version>1.9</api_version>
                <api_sandbox_url>https://api.sandbox.wegetfinancing.com</api_sandbox_url>
                <api_url>https://api.wegetfinancing.com</api_url>
                <magento_api_version>/V1</magento_api_version>
                <sdk_url>https://cdn.wegetfinancing.com/libs/1.0/getfinancing.js</sdk_url>
                <payment_icon_url>https://raw.githubusercontent.com/activemerchant/payment_icons/f55bff0716998fbe425bcb246a560f6bedce9f4f/app/assets/images/payment_icons/wegetfinancing.svg</payment_icon_url>
                <cart_guest_path>/guest-carts/mine/wegetfinancing-generate-funnel-url</cart_guest_path>
                <cart_path>/carts/mine/wegetfinancing-generate-funnel-url</cart_path>
                <order_to_inv_id_path>/wegetfinancing/order-to-inv-id</order_to_inv_id_path>
                <postback_path>/wegetfinancing/update-postback</postback_path>
            </wegetfinancing_payment>
        </payment>
    </default>
</config>
