<?xml version='1.0'?>
<config xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Config:etc/system_file.xsd'>
    <system>
        <section
                id="payment"
                translate="label"
                type="text"
                sortOrder="1000"
                showInDefault="1" showInWebsite="1" showInStore="1"
        >
            <label>Payment Methods</label>
            <tab>sales</tab>
            <resource>WeGetFinancing_Checkout::config</resource>
            <group
                    id="wegetfinancing_payment"
                    translate="label"
                    type="text"
                    sortOrder="1000"
                    showInDefault="1" showInWebsite="1" showInStore="1"
            >
                <label>WeGetFinancing Checkout</label>
                <field
                        id="active"
                        translate="label"
                        type="select"
                        sortOrder="1"
                        showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1"
                >
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field
                        id="is_sandbox"
                        translate="label"
                        type="select"
                        sortOrder="2"
                        showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1"
                >
                    <label>Use Sandbox</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field
                        id="username"
                        translate="label"
                        type="text"
                        sortOrder="3"
                        showInDefault="1" showInWebsite="1" showInStore="1"
                >
                    <label>Username</label>
                </field>
                <field
                        id="password"
                        translate="label"
                        type="password"
                        sortOrder="4"
                        showInDefault="1" showInWebsite="1" showInStore="1"
                >
                    <label>Password</label>
                </field>
                <field
                        id="merchant_id"
                        translate="label"
                        type="text"
                        sortOrder="5"
                        showInDefault="1" showInWebsite="1" showInStore="1"
                >
                    <label>Merchant ID</label>
                </field>
                <field
                        id="ppe_is_debug"
                        translate="label"
                        type="select"
                        sortOrder="6"
                        showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1"
                >
                    <label>PPE Use Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field
                        id="ppe_price_selector"
                        translate="label"
                        type="text"
                        sortOrder="7"
                        showInDefault="1" showInWebsite="1" showInStore="1"
                >
                    <label>PPE Price Selector</label>
                </field>
                <field
                        id="ppe_product_name_selector"
                        translate="label"
                        type="text"
                        sortOrder="8"
                        showInDefault="1" showInWebsite="1" showInStore="1"
                >
                    <label>PPE Product Name Selector</label>
                </field>
                <field
                        id="ppe_merchant_token"
                        translate="label"
                        type="text"
                        sortOrder="9"
                        showInDefault="1" showInWebsite="1" showInStore="1"
                >
                    <label>PPE Merchant Token</label>
                </field>
                <field
                        id="ppe_is_apply_now"
                        translate="label"
                        type="select"
                        sortOrder="10"
                        showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1"
                >
                    <label>PPE Is Apply Now</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field
                        id="ppe_is_branded"
                        translate="label"
                        type="select"
                        sortOrder="11"
                        showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1"
                >
                    <label>PPE Is Branded</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field
                        id="ppe_minimum_amount"
                        translate="label"
                        type="text"
                        sortOrder="12"
                        showInDefault="1" showInWebsite="1" showInStore="1"
                >
                    <label>PPE Minimum Amount</label>
                </field>
                <field
                        id="ppe_custom_text"
                        translate="label"
                        type="text"
                        sortOrder="13"
                        showInDefault="1" showInWebsite="1" showInStore="1"
                >
                    <label>PPE Custom Text</label>
                </field>
                <field
                        id="ppe_is_hover"
                        translate="label"
                        type="select"
                        sortOrder="14"
                        showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1"
                >
                    <label>PPE Is Hover</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field
                        id="ppe_font_size"
                        translate="label"
                        type="text"
                        sortOrder="15"
                        showInDefault="1" showInWebsite="1" showInStore="1"
                >
                    <label>PPE Font Size Percent</label>
                </field>
                <field
                        id="ppe_position"
                        translate="label"
                        type="select"
                        sortOrder="16"
                        showInDefault="1" showInWebsite="1" showInStore="1"
                >
                    <label>PPE Position</label>
                    <source_model>WeGetFinancing\Checkout\ValueObject\Option\PpePosition</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
